* {
	margin: 0;
}

html,body,#container{
	height: 100%;
}

body > #container {
	height: auto;
	min-height: 100%;
}

body{
	font-size: 16px;
}

#flash{
	color:creen;
	background-color: rgb(240,220,212); 
}

#content{
	z-index: 0;
	padding-bottom: 100px;
	padding-top: 60px;
	padding-left: 40px;
	padding-right: 20px;
}

#header{
	height: 40px;
	margin-bottom: -50px;
	padding-right: 10px;
	padding-top: 10px;
	position:relative;
	z-index: 10;
	text-align: right;
	font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
	font-size: 13px;
	color: #2281CF;
}

#footer{
	clear: both;
	position: relative;
	z-index: 10;
	height: 80px;
	margin-top: -80px;
	margin-left:40px;
	text-align: left;
	font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
	font-size: 13px;
	color: ##767676;
}


    div#search {
        margin-top: 0px;
        margin-left: 0px;
        width: 450px;
        height: 21px;

    }

    div#result {
        margin-left: 0;
        margin-top:50px;

    }


    div#searh-line{
        width: 100%;
        height: 100%;
    }

    form#main-form{
        width: 100%;
        height: 100%;
    }
    div#search-tab {
        position: relative;
        margin: 0;
        width: 350px;
    }

    div#search-button {
        position: relative;
        top:-21px;
        left: 350px;
        margin: 0;
        width: 100px;
        text-align: center;
    }

    input#translate-input-form{
        width: 100%;
        height: 100%;
    }

    input#translate-button{
        width: 85%;
        height: 100%;
        background-color: #f5f5dc;
    }
    div#cheat {
        /*display:block;*/
        position: relative;
        border-style: solid;
        border-color: #a9a9a9;
        border-width: thin;
        width: 352px;
        background-color: #f0ffff;
        z-index: 2;
    }

    ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    li a {
        text-decoration: none;
    	margin-right: auto;
        margin-left: auto;
        padding-top: 3px;
	    display:block;
	    color: black;
        padding-left: 10px;

    }

    .selected ,li a:hover {
        background-color: #f5f5dc;
        font-weight: bold;
    }

#logo{
	text-decoration:none;
	color: red;
	font-size: 16px;
	font-style: italic;
	font-family: sans-serif;
	font-weight: bold;
}

#result{
	margin-left: 20px;
	margin-top: 20px;
	font-family: sans-serif;
}
.origin{
	font-weight: normal;
	font-style: italic;
}




div.article{
	margin-left: 20px;
	margin-top: 35px;
}

.boldertext{
	font-weight: bold;
}

.key{

	font-weight: bolder;
	font-size: 24px;
	margin: 10px;
}

.def{

}

.italictext{
	font-style: italic;
}

.abr{

	color: green;
}

.dtrn{
	font-weight: bold;
	font-size: 20px;
}

div.level1{
	margin-left: 20px;
}



div.level2{
	margin-left: 40px;
}

div.level3{
	margin-left: 60px;
}

.example{
	color: grey;
}
