* {
	margin: 0;
}

html,body,#container{
	height: 100%;
}

body > #container {
	height: auto;
	min-height: 100%;
}

body{
	font-size: 16px;
}

#flash{
	color:creen;
	background-color: rgb(240,220,212); 
}

#content{
	z-index: 0;
	padding-bottom: 40px;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

#header{
	height: 40px;
	margin-bottom: -50px;
	padding-right: 10px;
	padding-top: 10px;
	position:relative;
	z-index: 10;
	text-align: right;
	font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
	font-size: 13px;
	color: #2281CF;
}

#footer{
	clear: both;
	position: relative;
	z-index: 10;
	height: 40px;
	margin-top: -40px;
	text-align: center;
	font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
	font-size: 13px;
	color: ##767676;
}


#search_tab{
	text-align: center;
}

#logo{
	color: red;
	font-size: 16px;
	font-style: italic;
	font-family: sans-serif;
	font-weight: bold;
}

#result{
	margin-left: 50px;
	margin-top: 50px;
	font-family: sans-serif;
}
.origin{
	font-weight: normal;
	font-style: italic;
}




div.article{
	margin-left: 50px;
	margin-top: 50px;
}

.boldertext{
	font-weight: bold;
}

.key{

	font-weight: bolder;
	font-size: 24px;
	margin: 10px;
}

.def{

}

.italictext{
	font-style: italic;
}

.abr{

	color: green;
}

.dtrn{
	font-weight: bold;
	font-size: 20px;
}

div.level1{
	margin-left: 20px;
}



div.level2{
	margin-left: 40px;
}

div.level3{
	margin-left: 60px;
}

.example{
	color: grey;
}
